.edit-title {
    color: #fff;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 16px;
    font-weight: 500;
}

.edit-description {
    color: #F5F5DC	;
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 6px;
    font-weight: 200;
}

.edit-label {
    color: #F5F5DC	;
    font-size: 12px;
    font-family: sans-serif;
    text-transform: capitalize;
}

.edit-action-btn {
    float: right;
    margin-top: 20px;
}

.edit-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}