.header {
    width: 100%;
    margin-top: 0;
    height: 30px;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #282c34;
    padding: 6px 0;
}

.toggle-text {
    color: #fff;
    font-size: 14px;
    padding-top: 2px;
}

.toggle {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    padding: 0 20px;
}
  